
#htaccess for 404page
ErrorDocument 404 http://localhost/Builders/Homeland/404.php



#htaccess for shorten code
#remove php file extension-e.g. https://example.com/file.php will become https://example.com/file
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]



